.react-contextmenu {
    // background-color: #fff;
    // background-clip: padding-box;
    // border: 1px solid rgba(0,0,0,.15);
    // border-radius: .25rem;
    // color: #373a3c;
    // font-size: 16px;
    // margin: 2px 0 0;
    // min-width: 160px;
    // outline: none;
    // opacity: 0;
    // padding: 5px 0;
    // pointer-events: none;
    // text-align: left;
    // transition: opacity 250ms ease !important;

    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    background-color: #282828;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    outline: none;
    pointer-events: none;
    opacity: 0;
    z-index: 1003;
}

.react-contextmenu.react-contextmenu--visible {
    opacity: 1;
    pointer-events: auto;
    z-index: 9999;
}

.react-contextmenu-item {
    // width: 100%;
    background: 0 0;
    border: 0;
    clear: both;
    user-select: none;
    color: rgba(255,255,255, 0.6);
    font-size: 13px;
    letter-spacing: 0.035em;
	  cursor: default;
    font-weight: 300;
    line-height: 32px;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
    color: #fff;
    background-color: #313131;
    border-color: #313131;
    text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
    color: #878a8c;
}

.react-contextmenu-item--divider {
    border-bottom: 1px solid rgba(0,0,0,.15);
    cursor: inherit;
    margin-bottom: 3px;
    padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
    background-color: transparent;
    border-color: rgba(0,0,0,.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
	padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item {
}

.react-contextmenu-item.react-contextmenu-submenu > .react-contextmenu-item:after {
    content: "▶";
    display: inline-block;
    position: absolute;
    right: 7px;
}

.example-multiple-targets::after {
    content: attr(data-count);
    display: block;
}
