
.popupBox {
  width: 7em;
  height: 4em;
  background-color: #282828;
  display: none;
  justify-content: center;
  padding-top: 6px;
  border-radius: 5px;
  position: absolute;
  left: 95px;
  user-select: none;
}

.show {
  display: flex !important;
}

.dot-div {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 150px;
}

.popupBox-song {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #282828;
  border-radius: 5px;
  width: 7em;
}

.hidden {
  display: none;
}
