.main {
  background: linear-gradient(rgb(51, 67, 78), rgb(6, 8, 9) 85%);
  width: 100%;
  height: 100%;
  position: fixed;
}

.sub-main {

}

.sidebar {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 730px;
  float: left;
  background-color: #060809;
  padding: 24px 24px 5px;
  color: white;
  position: fixed;
}

.three-musketeers > li {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .015em;
  color: #b3b3b3;
  transition: color 0.5s;
}

.three-musketeers > li:hover {
  color: white;
}

.three-musketeers-text {
  margin-left: 12px;
}

.green {
  color: #1db954;
}

.inactive {
  color: #b3b3b3;
  transition: color 0.5s;
}

.inactive:hover {
  color: white;
}

.now-playing-bar {
  height: 90px;
  width: 100vw;
  background-color: #282828;
  bottom: 0;
  z-index: 1;
  position: fixed;
}
