
.sub-main {

}

.sidebar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 230px;
  height: 89%;
  float: left;
  background-color: #060809;
  padding: 24px 24px 5px;
  color: white;
  position: fixed;
}

.three-musketeers > li {
  margin: 40px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .015em;
  color: #b3b3b3;
  transition: color 0.5s;
}

.three-musketeers > li:hover {
  color: white;
}

.current-user-info {
  // position: relative;
  display: flex;
  // bottom: 1.5em;
  flex-direction: column;
  // right: -7%;
  text-align: center;
  width: 100%;
}

.current-user-info > li {
  margin: 15px 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: .015em;
  color: #b3b3b3;
  transition: color 0.5s;
  // margin-inline-start: 10px;
  text-align: center;
}

.current-user-info > li > button {
  font-size: 15px;
  font-weight: 700;
}

.super-mini-divider {
  border: 0.5px solid #d9dadc;
  width: 100%;
  display: block;
  line-height: 1px;
  margin: 5px 0;
  position: relative;
  text-align: center;
}

.three-musketeers-text {
  margin-left: 12px;
  font-size: 15px;
  position: relative;
  // top: -6px;
}

.green {
  color: #1db954 !important;
}

.inactive {
  color: #b3b3b3;
  transition: color 0.5s;
}

.inactive:hover {
  color: white;
}
