.content-spacing-playlist {
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 32px;
  // background-color: #161417;
}

.playlist-content {
  display: flex;
  justify-content: space-around;
}

.playlist-content > ul {
  position: relative;
}

.playlist-info {
  color: #fff;
  text-align: center;
  width: 320px;
  padding: 0 40px;
}

.hoverable-info {

}

.playlist-show-border {

  background-color: #060809;
  box-shadow: 0px 0px 20px #312d2d;
}

.playlist-show-image {
  width: 320px;
  height: 320px;
  display: block;
  position: relative;
  opacity: 1;
}

.playlist-default-image {
  width: 320px;
  height: 300px;
  display: block;
  position: relative;
  top: 0px;
  left: 0px;
  opacity: 0.8;
}

.playlist-label {
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 500;
  color: #fff;
  text-transform: none;
  padding: 15px 0;
}

.playlist-label > h2 {
  font-size: 28px;
}

.playlist-label > span {
  opacity: 0.6;
}

.misc-logo {
  width: 6em;
  height: 6em;
}

.playlist-songs {
  width: 65%;
}


// .div-song-list-item {
//   padding: 10px 10px;
//   transition: background-color .4s;
//   user-select: none;
// }
//
// .div-song-list-item:hover {
//   background-color: rgba(0,0,0,0.4);
// }

.song-browse-list {
  color: white;
  display: flex;
  flex-direction: row;
  width: 66vw;
  justify-content: space-between;
}


.songs-list > div > span {
  color: white;
}

.sub-song-info {
  font-size: 13px;
  opacity: .6;
  margin: 6px 0;
}

.second-line-separator {
  color: #fff;
  opacity: .6;
  display: inline-block;
  transform: translateY(-1px);
  font-size: .8em;
  padding: 0 8px;
}

.delete-playlist {
  z-index: 3;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 90px;
}

.empty-playlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 130px;
  color: #fff;
}

.empty-playlist-container > div {
  // margin: 20px 0;
}

.empty-playlist-header {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  text-align: center;
  margin-bottom: 36px;
}

.empty-playlist-subheader {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: .015em;
  font-weight: 500;
  color: #b3b3b3;
  text-transform: none;
}

.browse-btn {
  background: #fff;
  color: #000;
  padding: 11px 11px;
}

.empty-playlist-icon {
  margin-bottom: 70px;
  height: 50px;
  fill: #fff;
}
