.search-main-view {
  padding-left: 230px;
  display: block;
  background: linear-gradient(rgb(51, 67, 78), rgb(6, 8, 9), 85%);
  height: 100vh;
}


.search-input-container {
  position: fixed;
  right: 0;
  left: 230px;
  background-color: #282828;
  padding: 16px;
  top: 0;
  z-index: 1;
}


.search-input {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  caret-color: #1db954;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
  margin-inline-start: 120px;
}

.search-input:focus {
  opacity: 0.4;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  caret-color: #1db954;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.search-content {
  position: relative;
}

.--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  height: 50vh;
}

.search-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.search-subtitle {
  padding-top: 10px;
  color: #fff;
}

// -------------------------------- //

.search-results {
  margin-top: 75px;
}


.content-nav-list {
  display: flex;
  color: white;
  justify-content: space-evenly;
  width: 40vw;
  margin: 0 auto;
  padding-top: 45px;
}

.content-nav-list > li {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .015em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .16em;
  color: #fff;
  opacity: .6;
  position: relative;
  border: 0;
  display: inline-block;
  margin: 10px;
  padding: 5px 10px;
  text-decoration: none;
  transition: opacity .2s linear;
}

.search-category  > h2 {
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  margin: 24px 0;
}
