.search-input-container {
  position: fixed;
  right: 0;
  left: 230px;
  background-color: #282828;
  padding: 16px;
  top: 0;
}


.search-input {
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  caret-color: #1db954;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.search-input:focus {
  opacity: 0.4;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -.005em;
  font-weight: 700;
  color: #fff;
  text-transform: none;
  caret-color: #1db954;
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0,0,0,0);
  border: none;
}

.search-content {
  position: relative;
  z-index: 2;
}

.--empty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 32px;
  height: 50vh;
}

.search-title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: -.005em;
  font-weight: 700;
  text-transform: none;
  color: #fff;
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
}

.search-subtitle {
  padding-top: 10px;
  color: #fff;
}
