
.show-main-view {
  padding-left: 230px;
  display: block;
  background: linear-gradient(rgb(51, 67, 78), rgb(6, 8, 9) 85%);
  height: 100vh;
  padding-top: 45px;
}

::-webkit-scrollbar {
  display: none;
}

.playlist-show-view {
  padding-left: 230px;
  display: block;
  background: linear-gradient(#162f19, rgb(6, 8, 9) 85%);
  height: 100vh;
  padding-top: 45px;
}

.artist-show-view {
  padding-left: 230px;
  display: block;
  // background: linear-gradient(rgb(51, 67, 78), rgb(6, 8, 9) 85%);
  height: 100vh;
  background-color: #181818;
}

.show-dot-div {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
