.div-browse-song-list-item {
  padding: 8px 10px;
  transition: background-color .4s;
  user-select: none;
}

.div-browse-song-list-item:hover {
  background-color: rgba(0,0,0,0.4);
}

.div-browse-song-list-item:hover > li > .left-side-song-item > div > svg {
  display: block !important;
}

.div-browse-song-list-item:hover > li > .left-side-song-item > div > span {
  display: none !important;
}

.div-song-list-item:hover > li > .left-side-song-item > div > svg {
  display: block !important;
}

.div-song-list-item:hover > li > .left-side-song-item > div > span {
  display: none !important;
}

.div-song-browse-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.song-index-div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  position: relative;
}

.song-list {
  width: 100%;
}

.songs-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
}

.song-misc-info {

}

.song-misc-logo {
  width: 30px;
}

.left-side-song-item {
  display: flex;
  justify-content: flex-start;
  width: 60%;
}

.left-side-song-item > div {
  margin: 0 8px;
}

// .left-side-song-item:hover > div > svg {
//   display: block !important;
// }

// .left-side-song-item:hover > div> span {
//   display: none !important;
// }

.mini-play:before {
  content: "\F156";
  font-size: 16px;

  font-family: glue1-spoticon;
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
  vertical-align: bottom;
  display: inline-block;
  text-decoration: inherit;
}

.icon-play, .icon-pause {
  display: none;
  width: 1em;
  height: 1em;
}

// ADD To Playlist

.add-to-playlist {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 90px;
}

.h1-add-to-playlist {
  font-size: 72px;
  line-height: 82px;
  letter-spacing: -.005em;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  text-align: center;
}

.add-playlist-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.add-playlist-ul > li {
  margin: 20px;
}
