.splash {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  position: relative;
  overflow: hidden;
}

.splash:before {
  content: "";
  position: absolute;
  width: 160%;
  height: 150%;
  top: -50%;
  left: -50%;
  z-index: -1;
  background: image-url('background.svg'), linear-gradient(rgb(253, 80, 107), rgb(251, 153, 56));
  transform: rotate(-180deg);
}

.splash-header {
  font-size: 80px;
}

.splash-slogan {
  font-size: 20px;
}

.splash-button {
  margin-top: 10px;
  font-size: 14px;
  height: 48px;
  width: 250px;
  text-align: center;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #1db954;
  color: white;
  letter-spacing: 2px;
  transition: background-color 0.25s;
}

.splash-signup {
  height: 30px;
  width: 250px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  border-color: #1db954;
  border-radius: 25px;
  padding-top: 15px;
  margin: 20px 0 20px 0;
  color: white;
  letter-spacing: 2px;
  background-color: #1db954;
  transition: background-color 0.25s;
}


.splash-button:hover, .splash-signup:hover {
  background-color: #1ed760;
}

.splash-divider-or {
  border: 0.5px solid white;
  width: 80px;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.splash-or {
  padding: 0 20px 0 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}
