// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

li {
  list-style: none;
}

.divider {
  border: 0.5px solid #d9dadc;
  width: 440px;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.divider-or {
  border: 0.5px solid #d9dadc;
  width: 190px;
  display: block;
  line-height: 1px;
  margin: 15px 0;
  position: relative;
  text-align: center;
}

.or {
  padding: 0 20px 0 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: Circular,Helvetica,Arial,sans-serif;
}
.divider-or-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// SESSION Classes
.session {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  margin: auto;
  padding-top: 135px;
}

.wrapper {
  // background:linear-gradient(120deg, #1db954, #191414);
  min-height: 800px;
}
.session-input {
  display: block;
  box-sizing: border-box;
  height: 40px;
  width: 450px;
  border: 1px solid #d9dadc;
  padding-inline-start: 10px;
  font-size: 16px;
  transition: border-color 0.5s, color 0.5s;

}

input:focus {
  border-color: #919496;
  outline: none;
}

input:focus::placeholder {
  color: #dddede;
}

.session-button {
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #1db954;
  color: white;
  letter-spacing: 2px;
  transition: background-color 0.25s;
}

.session-button:hover {
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #1ed760;
  color: white;
  letter-spacing: 2px;
}

.demo-button {
  margin-top: 10px;
  font-size: 14px;
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #1db954;
  color: white;
  letter-spacing: 2px;
  transition: background-color 0.25s;
}
.demo-button:hover {
  margin-top: 10px;
  font-size: 14px;
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  border: 1px solid transparent;
  border-radius: 25px;
  margin-bottom: 10px;
  background-color: #1ed760;
  color: white;
  letter-spacing: 2px;
}

.signup-in-login-button {
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid transparent;
  border-color: #616467;
  border-radius: 25px;
  padding-top: 15px;
  margin: 20px 0 20px 0;
  // background-color: #1db954;
  color: #616467;
  letter-spacing: 2px;
  transition: background-color 0.25s;
}

.signup-in-login-button:hover {
  height: 48px;
  width: 430px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  border: 2px solid transparent;
  border-color: #616467;
  border-radius: 25px;
  padding-top: 15px;
  margin: 20px 0 20px 0;
  background-color: #616467;
  color: white;
  letter-spacing: 2px;
}

.link-green {
  color: #1db954;
  transition: color 0.25s;
}

.link-green:hover {
  color: #1ed760;
}

.form-header {
  display: flex;
    align-items: center;
    flex-direction: column;
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items:center;
}
